$bg-color:  #e9ecf5;
$link-color: #6fb9c8;

$features-color: #99395493;

//for testimonials
$gray-color: #494949;
$border-color: #b4b4b4;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;