@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap');

$bg-color:  #e9ecf5;
$link-color: #6fb9c8;

$features-color: #99395493;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: $bg-color;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5; 
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: #000000; 
    }
}



h3 {
    font-family: "Noto Serif", serif;
}

a {
    color: #000000;
    transition: color 0.3s ease 0s;
    &:hover {
        color: $link-color;
        text-decoration: none;
    }
}

section {
    .heading {
        text-align: center;
        text-transform: uppercase;

        h3 {
            font-size: 2.5rem;
        }
    }
}


.projects {
    .image {
        position: relative;
        overflow: hidden;
        &:hover {
            img {
                transform: scale(1.2);
            }
            .content {
                display: block;
            }
        }

        img {
            transition: all 1s ease 0s;
        }
    }

    .content {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        color: #ffffff;
        display: none;
        opacity: 0.8;
        background: #555555;
        padding: 2rem;
    }
    h3 {
        a {
            color: #ffffff;
        }
    }
}

footer {
    color: #838383;
    background: #232323;
    padding: 20px;
    ul {
        margin: 0px;
        padding: 0px;

        li {
            list-style-type: none;
            margin: 10px 0px;

            a {
                color: #ffffff;
                font-size: 1.25rem;
                &:hover {
                    color: $link-color;
                    text-decoration: none;
                }
            }

            span {
                float: right;
                padding: 0px 5px;

                &:before {
                    content: "(";
                }

                &:after {
                    content: ")";
                }
            }
        }
    }
    .each-col {
        padding: 1rem;
    }

    .header {
        font-size: 1.25rem;
        color: #ffffff;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    .footer-bottom {
        padding: 1rem;
        border-top: 1px solid grey;
        margin: auto 0px;

        h3 {
            font-size: 1.15rem;
            text-align: center;
        }
    }
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    outline: none !important;

    &:hover {
            opacity: 0.8;
        }
}


.posts {
    border-top: 1px solid #c7c7c7;
    margin: 5rem 0;
}

article {
    background: #fafafa;
    margin: 1rem 0px;

    .date {
        position: absolute;
        color: #ffffff;
        padding: 0px 2rem;

        h3 {
            font-size: 1.2rem;
            background: #000000;
            padding: 0.5rem;
        }
    }

    .content {
        padding: 2rem 1rem;
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        margin: 1.5rem 0px;
    }

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        &:before {
            content: "";
            background: $link-color;
            padding: 0px 20px;
        }

        li {
            display: inline-block;
            text-transform: uppercase;
            padding: 0.1rem;
            &:after {
                content: ",";
            }

            a {
                color: #838383;
                &:hover {
                    color: $link-color;
                    text-decoration: none;
                }
            }
        }
    }
    .post-heading {
        margin: 1.5rem 0px;
    }
    .read-more-btn {
        color: #000000;
        font-size: 1.15rem;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
                color: $link-color;
                text-decoration: none;
        }
    }
}

.sidebar {
    .bg-gray {
        background: #fafafa;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            &:before {
                content: "•";
                color: $link-color;
                font-weight: bold;
                font-size: 1.25rem;
                padding: 1rem;
                margin: 0px;
            }
            a {
                color: #838383;
                font-size: 1.25rem;
                line-height: 2rem;
                text-decoration: none;
                &:hover {
                    color: $link-color;
                    text-decoration: none;
                }
            }
        }

    }
}



.featured-articles {
    img {
        transition: opacity 0.3s ease 0s;
        &:hover {
            opacity: 0.8;
        }
    }
    .content {
        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            font-family: "Noto Serif", serif;
            line-height: 2rem;
            letter-spacing: 0.02rem;
        }
        p {
            font-size: 1.1rem;
            font-family: "Open Sans", sans-serif;
        }
    }
}

.bg-magenta {
    background: $features-color;
}

.features {
    img {
        width: 100px;
        height: 100px;
    }
    .hover-card {
        h3 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    .hover-card {
        transition: all 0.3s ease 0s;
        padding: 0.5rem;
        margin: 0.5rem 0px;
        &:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                opacity: 0.8;
                background: rgb(255, 255, 255);
        }
    }
}
